@{
    ViewData["Title"] = "Delete";
    Layout = "_AdminLayout";
}

@model Product

<div class="container mt-3">
    <div class="card">
        <div class="card-body">
            <h1>Ürün Silme İşlemi</h1>
            <hr />

            <h3 class="mb-3">Ürünü silmek istediğinize emin misiniz?</h3>
            <h5 class="card-subtitle mb-2 text-muted">Ürün Adı: <b>@Model.Name</b></h5>
            <br />
            <form method="post" asp-controller="Product" asp-action="Delete">
                <input type="hidden" asp-for="Id" value="@Model.Id" />
                <button class="btn btn-danger" type="submit">
                    Sil
                </button>
                <a class="btn btn-warning" asp-controller="Product" asp-action="Index">
                    Vazgeç
                </a>
            </form>
        </div>
    </div>
</div>


